
:root {
  background-color: hsla(240, 20%, 20%, );
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/back.svg");
  color: #2e2a4d;
}

